
* {
	font-family: "Hepta Slab";
}

#navbar {
	width: 100%;
	background-color: black;
	padding:4px;
}

.navbutton {
	text-decoration: none;
	color:white;
	font-size:26px;
	padding-right: 4px;
	padding-left: 4px;
	transition-property: background-color;
	transition-delay: 0.2s;
}

.navbutton:hover {
	background-color: darkblue;
}

body {
	margin:0;
	padding:0;
}