
* {
	font-family: "Hepta Slab";
}

#navbar {
	width: 100%;
	background-color: black;
	padding:4px;
}

.navbutton {
	text-decoration: none;
	color:white;
	font-size:26px;
	margin-right: 2px;
	margin-left: 2px;
}

body {
	margin:0;
	padding:0;
}